/* index page link buttons */
.index-buttons {
    padding-left: 0;
    li {
        list-style: none;
        display: inline-block;
        border: solid 1px $grey-color;
        //border-radius: 5px;
        padding: 2px 5px;
        margin: 4px 2px 2px 2px;
    }
}
/* chapter navigation */
#chapter-nav {
    color: $grey-color;
    font-size: 16px;
    text-align: right;
    line-height: 1.25;
    margin-bottom: 2rem;
    a { color: $grey-color; }
}
#chapter-buttons {
    display: table;
    width: 100%;
    margin: 2rem auto 0;
    border-top: solid 1px $grey-color;
    text-align: center;
    a { 
        color: $grey-color;
        padding-bottom: 100%;
    }
    .lesson-nav {
        display: table-cell;
        padding-top: 5px;
        font-size: 16px;
    }
    .prev { 
        width: 44%;
        border-right: solid 1px $grey-color;
        padding-right: 8px;
        text-align: right;
    }
    .next { 
        width: 44%;
        border-left: solid 1px $grey-color;
        padding-left: 8px;
        text-align: left;
    }
    .toc {
        width: 12%;
    }
}
article {
    ::-moz-selection {
        background: yellow;
    }
    ::selection {
        background: yellow;
    }
}
#annotateBtn { 
    cursor: pointer;
    color: #fff;
}
/* forum */
.forum-help {
    font-size: 14px;
    color: #7a7a7a;
    text-align: center;
    border: solid 1px #cccccc;
    border-radius: 5px;
}
