---
title: Contents 
chapter: ii.
frontmatter: true
---

<hr>

<h1 class="toc-title">CONTENTS</h1>

<ol class="toc-list">
  {%- assign chapters = site.html_pages | where: "layout", "chapter" -%}
  {% for c in chapters %}{% unless c.frontmatter %}
  <li><a href="{{ c.url | absolute_url }}">{{ c.title }}</a></li>
  {% endunless %}{% endfor %}
</ol>

<hr>

<h2 class="toc-title">ILLUSTRATIONS</h2>

<ol class="toc-list">
  {% assign illustrations = site.data.illustrations %}
  {% for i in illustrations %}
  <li><a href="{{ '/text/' | append: i.link | absolute_url }}">{{ i.title }}</a></li>
  {% endfor %}
</ol>
